GlobalPlanner:
  use_dijkstra: false
  use_grid_path: true
  use_quadratic: true
  
  lethal_cost: 253
  neutral_cost: 50
  cost_factor: 0.55

  allow_unknown: true
  default_tolerance: 0.0
  visualize_potential: false
  old_navfn_behavior: false
  publish_potential: false