# --- Common params of Move Base ---
shutdown_costmaps: false
controller_frequency: 15.0
controller_patience: 5.0
conservative_reset_dist: 3.0
planner_frequency: 0.0 # Chỉ lập plan mới khi nhận được goal mới hoặc khi local planner báo tắc đường.
planner_patience: 5.0
oscillation_timeout: 10.0 # Nếu trong 10 giây mà robot không di chuyển xa hơn được 0.2 mét
oscillation_distance: 0.2 # (tức là nó cứ tiến-lùi tại chỗ), hệ thống sẽ coi là robot bị kẹt và kích hoạt recovery.

base_global_planner: "global_planner/GlobalPlanner"
base_local_planner: "dwa_local_planner/DWAPlannerROS"

# --- Global Planner (A*) ---
GlobalPlanner:
  use_dijkstra: false
  use_grid_path: false
  use_quadratic: true
  
  lethal_cost: 253 # Giá trị trên bản đồ costmap >= 253 được coi là vật cản tuyệt đối.
  neutral_cost: 50 # Chi phí cơ bản cho việc di chuyển qua một ô trống.
  cost_factor: 3.0 # Giá trị này càng cao nghĩa là robot rất "sợ" các vùng gần vật cản (vùng màu xám/đỏ). Nó sẽ cố gắng chọn đường đi nằm giữa không gian trống để tránh bị phạt điểm cao.

  allow_unknown: true
  default_tolerance: 0.0
  visualize_potential: false
  old_navfn_behavior: false
  publish_potential: false

# --- Local Planner (DWA) ---
DWAPlannerROS:
  # Vận tốc & Gia tốc
  max_vel_x: 0.5
  min_vel_x: 0.0
  max_vel_theta: 1.5
  min_vel_theta: -1.5
  min_in_place_vel_theta: 0.3
  
  acc_lim_x: 0.5
  acc_lim_theta: 1.0
  acc_lim_y: 0.0

  # Goal
  xy_goal_tolerance: 0.15 # Khi robot cách đích trong vòng 15cm, nó coi như đã đến nơi.
  yaw_goal_tolerance: 0.15
  latch_xy_goal_tolerance: false
  # Nếu true, khi robot lọt vào vùng 15cm, nó sẽ không quan tâm đến vị trí nữa mà chỉ xoay cho đúng hướng. Nếu false, trong lúc xoay mà bị trôi ra khỏi vòng goal, nó sẽ cố chỉnh lại vị trí.

  # Simulation
  sim_time: 2.0
  vx_samples: 10
  vy_samples: 0
  vth_samples: 20
  
  # Bám đường
  path_distance_bias: 32.0
  goal_distance_bias: 24.0
  occdist_scale: 0.02
  forward_point_distance: 0.0
  
  stop_time_buffer: 0.2
  scaling_speed: 0.25
  max_scaling_factor: 0.2
  use_dijkstra: true
  oscillation_reset_dist: 0.05
