# --- Common params of Move Base ---
shutdown_costmaps: false
controller_frequency: 10.0
controller_patience: 5.0
conservative_reset_dist: 3.0
planner_frequency: 0.0
planner_patience: 5.0
oscillation_timeout: 10.0
oscillation_distance: 0.2

base_global_planner: "global_planner/GlobalPlanner"
base_local_planner: "dwa_local_planner/DWAPlannerROS"

# --- Global Planner (A*) ---
GlobalPlanner:
  use_dijkstra: false
  use_grid_path: true
  use_quadratic: true
  
  lethal_cost: 253
  neutral_cost: 50
  cost_factor: 0.55

  allow_unknown: true
  default_tolerance: 0.0
  visualize_potential: false
  old_navfn_behavior: false
  publish_potential: false

# --- Local Planner (DWA) ---
DWAPlannerROS:
  # Vận tốc & Gia tốc
  max_vel_x: 0.35
  min_vel_x: 0.0
  max_vel_theta: 1.5
  min_vel_theta: -1.5
  min_in_place_vel_theta: 0.3
  
  acc_lim_x: 0.5
  acc_lim_theta: 1.0
  acc_lim_y: 0.0

  # Goal
  xy_goal_tolerance: 0.15
  yaw_goal_tolerance: 0.15
  latch_xy_goal_tolerance: false

  # Simulation
  sim_time: 2.0
  vx_samples: 10
  vy_samples: 0
  vth_samples: 20
  
  # Bám đường
  path_distance_bias: 32.0
  goal_distance_bias: 24.0
  occdist_scale: 0.02
  forward_point_distance: 0.0
  
  stop_time_buffer: 0.2
  scaling_speed: 0.25
  max_scaling_factor: 0.2
  use_dijkstra: true
  oscillation_reset_dist: 0.05